body,div,p,span,ul,li,img,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.t-c{
  text-align: center;
}
.f_c_999 {
  color:#999;
}
.f_c_333 {
  color:#333;
}
.dev-waiting {
  position:absolute;
  top:50%;
  left:50%;
  font-size:0.4rem;
  transform: translate(-50%,-50%);
  color:#999;
}


